.cardx {
    padding: '20px';
    margin: '20px';
    background-color: "#333333";
    color: 'white';
}

.full-card {
    background-color: black;
    padding: 20px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
}


.full {
    background-color: black;
    padding: 50px;
    height: auto;
}


input::placeholder {
    color: #cccccc !important;
}
